{% extends 'base.html.twig' %}

{% block title %}Panel administratora{% endblock %}

{% block body %}
    <h1>Jesteś w panelu administratora</h1>

    <table class="table table-dark table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Zgłoszenie</th>
                <th scope="col">Akcje</th>
            </tr>
        </thead>
        <tbody>
            {% for request in requests %}
                <tr>
                    <th scope="row">{{ loop.index }}</th>
                    <td>{{ request }}</td>
                    <td>
                        <a href="/admin/request/1" class="btn btn-dark">Wyświetl</a>
                        <a href="/admin/request/delete/1" class="btn btn-dark">Usuń</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}